<div class="content" fxLayout="column">
  <header fxFlex class="header" fxLayout="row" fxLayoutAlign="start center">
    <button fxFlex="none" mat-button (click)="sidenav.open()">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >menu</mat-icon
      >
    </button>
    <div fxFlex></div>
    <div fxFlex="none" class="user-field">{{ hello$ | async | json }}</div>
  </header>
  <mat-sidenav-container
    fxFill
    class="example-container"
    (backdropClick)="close()"
  >
    <mat-sidenav
      class="sidenav"
      #sidenav
      (keydown.escape)="close()"
      disableClose
    >
    <div fxLayout="column"
    fxLayoutAlign="start center">
      <button fxFlex class="sidenav-button underline" mat-button (click)="close()" routerLink='/'>Start Page</button>
      <button fxFlex mat-button class="sidenav-button" (click)="close()" routerLink='/exercises'>Exercises</button>
      <button fxFlex mat-button class="sidenav-button" (click)="close()">Workouts</button>
      <button fxFlex class="sidenav-button underline" mat-button (click)="close()">Training Plans</button>
    </div>
    </mat-sidenav>

    <mat-sidenav-content class="main">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
